nav #pesquisa{width: 210%;}


.geral {
    min-height:100%;
    position:relative;
    width:800px;
}

.footer {
    position:absolute;
  
    width:10%;

}

.content {overflow:hidden;}
.aside {width:200px;}
.fleft {float:left;}
.fright {float:right;}




#galeria img:hover {   -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

p #menor{font-size: 21px;}

